<%- include('index.ejs') %>

<link rel="stylesheet" href="css/Alert/main.css" />

<div class="work-area">
  <div class="my-space">
    <h1>Alert</h1>
    <br />
    <p>
      Alerts provide contextual feedback messages for typical user actions with
      a handful of responsible and flexible alert boxes.
    </p>
    <br />
    <h2>Simple Static Alert</h2>
    <br />
    <p>
      When we need to give some hint, or message in a website or application
      simple alert is used.
    </p>
    <div class="static-alert">
      <div class="primary">Simple Primary Alert</div>
    </div>
    <div class="static-alert">
      <div class="secondary">Simple secondary Alert</div>
    </div>
    <div class="static-alert">
      <div class="success">Simple success Alert</div>
    </div>
    <div class="static-alert">
      <div class="danger">Simple danger Alert</div>
    </div>
    <div class="static-alert">
      <div class="warning">Simple warning Alert</div>
    </div>
    <div class="static-alert">
      <div class="info">Simple info Alert</div>
    </div>
    <div class="static-alert">
      <div class="light">Simple light Alert</div>
    </div>
    <div class="static-alert">
      <div class="dark">Simple dark Alert</div>
    </div>

    <div class="code-section">
      <pre>
          <code class="language-html">
            <xmp>
                <Alert type="static-alert" color="primary"> Simple Primary Alert </Alert>
                <Alert type="static-alert" color="secondary"> Simple secondary Alert </Alert>
                <Alert type="static-alert" color="success"> Simple success Alert </Alert>
                <Alert type="static-alert" color="danger"> Simple danger Alert </Alert>
                <Alert type="static-alert" color="warning"> Simple warning Alert </Alert>
                <Alert type="static-alert" color="info"> Simple info Alert </Alert>
                <Alert type="static-alert" color="light"> Simple light Alert </Alert>
                <Alert type="static-alert" color="dark"> Simple dark Alert </Alert>
            </xmp>
          </code>
        </pre>
    </div>
    <br />
    <h2>Alert With Icons</h2>
    <div class="static-alert">
      <div class="primary">
        <i class="fas fa-exclamation-circle"></i> Simple primary Alert
      </div>
    </div>

    <div class="static-alert">
      <div class="secondary">
        <i class="fas fa-dot-circle"></i> Simple secondary Alert
      </div>
    </div>

    <div class="static-alert">
      <div class="success">
        <i class="fas fa-check-circle"></i> Simple success Alert
      </div>
    </div>

    <div class="static-alert">
      <div class="danger">
        <i class="fas fa-times"></i> Simple danger Alert
      </div>
    </div>

    <div class="static-alert">
      <div class="warning">
        <i class="fas fa-exclamation-triangle"></i> Simple warning Alert
      </div>
    </div>

    <div class="static-alert">
      <div class="info">
        <i class="fas fa-angle-double-right"></i> Simple info Alert
      </div>
    </div>

    <div class="static-alert">
      <div class="light">
        <i class="fas fa-bullseye"></i> Simple light Alert
      </div>
    </div>

    <div class="static-alert">
      <div class="dark"><i class="far fa-gem"></i> Simple dark Alert</div>
    </div>

    <div class="code-section">
        <pre>
            <code class="language-html">
              <xmp>
                <Alert type="static-alert" color="primary"><i class="fas fa-exclamation-circle"></i> Simple Primary Alert </Alert>
                <Alert type="static-alert" color="secondary"><i class="fas fa-dot-circle"></i> Simple secondary Alert </Alert>
                <Alert type="static-alert" color="success"><i class="fas fa-check-circle"></i> Simple success Alert </Alert>
                <Alert type="static-alert" color="danger"><i class="fas fa-times"></i> Simple danger Alert </Alert>
                <Alert type="static-alert" color="warning"><i class="fas fa-exclamation-triangle"></i> Simple warning Alert </Alert>
                <Alert type="static-alert" color="info"><i class="fas fa-angle-double-right"></i> Simple info Alert </Alert>
                <Alert type="static-alert" color="light"><i class="fas fa-bullseye"></i> Simple light Alert </Alert>
                <Alert type="static-alert" color="dark"><i class="far fa-gem"></i> Simple dark Alert </Alert>
              </xmp>
            </code>
          </pre>
      </div>
      <h2> Large Alert </h2>
      <br />
      <div class="large-alert">
        <div class="large-success">
          <h2 class="devider"> Success.....!! </h2>
          <p>
            Awww successs., This is an example text for ensure how it looks like
            in real website. The large-success is use for give some information
            about success. Use this as a indicater for some work done.
          </p>
        </div>
      </div>
      <div class="large-alert">
        <div class="large-failure">
          <h2 class="devider"> Success.....!! </h2>
          <p>
            Awww Errorr., This is an example text for ensure how it looks like
            in real website. The large-failure is use for give some information
            about failure. Use this as a indicater for some work failure.
          </p>
        </div>
      </div>
      <div class="code-section">
        <pre>
            <code class="language-html">
              <xmp>
                <div class="large-alert">
                    <div class="large-success">
                      <h2 class="devider"> Success.....!! </h2>
                      <p>
                        Awww successs., This is an example text for ensure how it looks like
                        in real website. The large-success is use for give some information
                        about success. Use this as a indicater for some work done.
                      </p>
                    </div>
                  </div>

                  <div class="large-alert">
                    <div class="large-failure">
                      <h2 class="devider"> Success.....!! </h2>
                      <p>
                        Awww Errorr., This is an example text for ensure how it looks like
                        in real website. The large-failure is use for give some information
                        about failure. Use this as a indicater for some work failure.
                      </p>
                    </div>
                  </div>
              </xmp>
            </code>
          </pre>
      </div>
      <h2>Modern Alert</h2>
      <br />
        <div class="style-alert style-info">
          <div class="style-alert-header">
            <div class="style-alert-number">1</div>
            <div class="style-alert-content">
              <div class="style-alert-title">What is the information.?</div>
              <div class="style-alert-main">
              this is the dummy text of style-ui simply print some information. 
              you can edit it according to your need
              </div>
            </div>
          </div>

        <div class="code-section">
            <pre>
                <code class="language-html">
                  <xmp>
                    <div class="style-alert style-info">
                        <div class="style-alert-header">
                          <div class="style-alert-number">1</div>
                          <div class="style-alert-content">
                            <div class="style-alert-title">What is the information.?</div>
                            <div class="style-alert-main">
                            this is the dummy text of style-ui simply print some information. 
                            you can edit it according to your need
                            </div>
                          </div>
                        </div>
                  </xmp>
                </code>
              </pre>
          </div>

          <div class="style-alert style-successful">
            <div class="style-alert-header">
              <div class="style-alert-number">1</div>
              <div class="style-alert-content">
                <div class="style-alert-title">What is Done.?</div>
                <div class="style-alert-main">
                this is the dummy text of style-ui simply print some information. 
                  you can edit it according to your need
                </div>
              </div>
            </div>
          </div>

          <div class="code-section">
            <pre>
                <code class="language-html">
                  <xmp>
                    <div class="style-alert style-successful">
                        <div class="style-alert-header">
                          <div class="style-alert-number">1</div>
                          <div class="style-alert-content">
                            <div class="style-alert-title">What is Done.?</div>
                            <div class="style-alert-main">
                            this is the dummy text of style-ui simply print some information. 
                              you can edit it according to your need
                            </div>
                          </div>
                        </div>
                      </div>
                  </xmp>
                </code>
              </pre>
          </div>

          <div class="style-alert style-danger">
            <div class="style-alert-header">
              <div class="style-alert-number">1</div>
              <div class="style-alert-content">
                <div class="style-alert-title">What is the Error.?</div>
                <div class="style-alert-main">
                  this is the dummy text of style-ui simply print some information. 
                  you can edit it according to your need
                </div>
              </div>
            </div>
          </div>

          <div class="code-section">
            <pre>
                <code class="language-html">
                  <xmp>
                    <div class="style-alert style-danger">
                        <div class="style-alert-header">
                          <div class="style-alert-number">1</div>
                          <div class="style-alert-content">
                            <div class="style-alert-title">What is the Error.?</div>
                            <div class="style-alert-main">
                              this is the dummy text of style-ui simply print some information. 
                              you can edit it according to your need
                            </div>
                          </div>
                        </div>
                      </div>
                  </xmp>
                </code>
              </pre>
          </div>

          <div class="style-alert style-warning">
            <div class="style-alert-header">
              <div class="style-alert-number">1</div>
              <div class="style-alert-content">
                <div class="style-alert-title">What is the warning.?</div>
                <div class="style-alert-main">
                  this is the dummy text of style-ui simply print some information.
                  you can edit it according to your need
                </div>
              </div>
            </div>
          </div>

          <div class="code-section">
            <pre>
                <code class="language-html">
                  <xmp>
                    <div class="style-alert style-warning">
                        <div class="style-alert-header">
                          <div class="style-alert-number">1</div>
                          <div class="style-alert-content">
                            <div class="style-alert-title">What is the warning.?</div>
                            <div class="style-alert-main">
                              this is the dummy text of style-ui simply print some information.
                              you can edit it according to your need
                            </div>
                          </div>
                        </div>
                      </div>
                  </xmp>
                </code>
              </pre>
          </div>

  </div>
</div>
