<%- include('index.ejs') %>

<div class="work-area">
  <div class="my-space">
    <h1>Buttons</h1>
    <br />
    Custom button styles for actions in forms, dialogs, and more with support
    for multiple sizes, states, and more.
    <p>
      Use any of the custom <b> buttons </b> just copy pasting the below code.
      All buttons are responsive, <b> 80+ </b> buttons with 3 different width
      and height exist.
    </p>
    <br />
    <h2> How To Import Buttons </h2><br />
    <p> Add the below code to top of your Javascript Code</p><br />
    <div class="code-section">
      <code class="language-html">
        <xmp>
          import Button from "react-style-ui/style-ui/Button";
        </xmp>
      </code>
    </div>
    <br />
    <h2> Example Usage In Functional Component </h2><br />
    <div class="code-section">
      <pre>
        <code class="language-html">
          <xmp>
            import Button from "react-style-ui/style-ui/Button";


              function App() {
                return (
                  <div>
                    <Button class="ui-button red-basic-button radius-r">Red</Button>
                  </div>
                );
              }

              export default App;
          </xmp>
        </code>
        </pre>
    </div>
    <br />
  <h2> Example Usage In Class Component </h2> <br />
  <div class="code-section">
    <pre>
      <code class="language-html">
        <xmp>
          import React, { Component } from "react";
          import Button from "react-style-ui/style-ui/Button";

          export default class App extends Component {
            render() {
              return (
                <div>
                  <Button class="ui-button red-basic-button radius-r">Red</Button>
                </div>
              );
            }
          }
        </xmp>
      </code>
      </pre>
  </div>

    <h3>Basic Buttons</h3>
    <div class="image-box">
      <img
        src="/images/Button/styleui-basicbuttons.png"
        class="navbar-tutorial-image"
        alt="hello"
      />

      <div class="code-section">
        <pre>
            <code class="language-html">
              <xmp>
            <Button class="ui-button red-basic-button radius-r">Red</Button>
            <Button class="ui-button orange-basic-button radius-r">Orange</Button>
            <Button class="ui-button yellow-basic-button radius-r">Yellow</Button>
            <Button class="ui-button blue-basic-button radius-r">Blue</Button>
            <Button class="ui-button pink-basic-button radius-r">Pink</Button>
            <Button class="ui-button coral-basic-button radius-r">Coral</Button>
            <Button class="ui-button violet-basic-button radius-r">Violet</Button>
            <Button class="ui-button teal-basic-button radius-r">Teal</Button>
            <Button class="ui-button purple-basic-button radius-r">Purple</Button>
            <Button class="ui-button green-basic-button radius-r">Green</Button>
            <Button class="ui-button greenyellow-basic-button radius-r">GreenYellow</Button>
            <Button class="ui-button grey-basic-button radius-r">Grey</Button>
            <Button class="ui-button black-basic-button radius-r">Black</Button>
            <Button class="ui-button brown-basic-button radius-r">Brown</Button>
              </xmp>
            </code>
          </pre>
      </div>
    </div>
    <br />
    <h3>Inverted Buttons</h3>
    <div class="image-box">
      <img
        src="/images/Button/styleui-invertedbuttons.png"
        class="navbar-tutorial-image"
        alt="hello"
      />
      <div class="code-section">
        <pre>
              <code class="language-html">
                <xmp>
            <Button class="ui-button red-inverted-button radius-r">Red</Button>
            <Button class="ui-button green-inverted-button radius-r hover-effect1">Green</Button>
            <Button class="ui-button orange-inverted-button radius-r hover-effect2">Orange</Button>
            <Button class="ui-button yellow-inverted-button radius-r">Yellow</Button>
            <Button class="ui-button blue-inverted-button radius-r">Blue</Button>
            <Button class="ui-button pink-inverted-button radius-r">Pink</Button>
            <Button class="ui-button violet-inverted-button radius-r">violet</Button>
            <Button class="ui-button teal-inverted-button radius-r">Teal</Button>
            <Button class="ui-button purple-inverted-button radius-r">Purple</Button>
            <Button class="ui-button greenyellow-inverted-button radius-r">GreenYellow</Button>
            <Button class="ui-button grey-inverted-button radius-r">Grey</Button>
            <Button class="ui-button black-inverted-button radius-r">Black</Button>
            <Button class="ui-button brown-inverted-button radius-r">Brown</Button>
                </xmp>
              </code>
        </pre>
      </div>
    </div>
    <br />
    <h3>Inverted Basic Buttons</h3>
    <div class="image-box">
      <img
        src="/images/Button/styleui-invertedbasicbuttons.png"
        class="navbar-tutorial-image"
        alt="hello"
      />
      <div class="code-section">
        <pre>
              <code class="language-html">
                <xmp>
            <Button class="ui-button red-inverted-basic-button radius-r">Red</Button>
            <Button class="ui-button green-inverted-basic-button radius-r">Green</Button>
            <Button class="ui-button orange-inverted-basic-button radius-r">Orange</Button>
            <Button class="ui-button yellow-inverted-basic-button radius-r">Yellow</Button>
            <Button class="ui-button green-inverted-basic-button radius-r">Green</Button>
            <Button class="ui-button blue-inverted-basic-button radius-r">Blue</Button>
            <Button class="ui-button pink-inverted-basic-button radius-r">Pink</Button>
            <Button class="ui-button violet-inverted-basic-button radius-r">Violet</Button>
            <Button class="ui-button teal-inverted-basic-button radius-r">Teal</Button>
            <Button class="ui-button purple-inverted-basic-button radius-r">Purple</Button>
            <Button class="ui-button greenyellow-inverted-basic-button radius-r">GreenYellow</Button>
            <Button class="ui-button grey-inverted-basic-button radius-r ">Grey</Button>
            <Button class="ui-button black-inverted-basic-button radius-r">Black</Button>
            <Button class="ui-button brown-inverted-basic-button radius-r">Brown</Button>
                </xmp>
              </code>
        </pre>
      </div>
    </div>
    <br />
    <div class="image-box">
        <img
          src="/images/Button/styleui-buttons.png"
          class="navbar-tutorial-image"
          alt="hello"
        />
        <div class="code-section">
          <pre>
                <code class="language-html">
                  <xmp>
                <Button class="ui-button red-button radius-r">Red</Button>
                <Button class="ui-button orange-button radius-r">Orange</Button>
                <Button class="ui-button green-button radius-r">Green</Button>
                <Button class="ui-button yellow-button radius-r">Yellow</Button>
                <Button class="ui-button blue-button radius-r">Blue</Button>
                <Button class="ui-button pink-button radius-r">Pink</Button>
                <Button class="ui-button violet-button radius-r">Violet</Button>
                <Button class="ui-button teal-button radius-r">Teal</Button>
                <Button class="ui-button purple-button radius-r">Purple</Button>
                <Button class="ui-button greenyellow-button radius-r">GreenYellow</Button>
                <Button class="ui-button grey-button radius-r">Grey</Button>
                <Button class="ui-button black-button radius-r">Black</Button>
                <Button class="ui-button brown-button radius-r"> Brown</Button>
                  </xmp>
                </code>
          </pre>
        </div>
      </div>
      <br />

      <h3>Social Buttons</h3>
    <div class="image-box">
      <img
        src="/images/Button/styleui-socialbuttons.png"
        class="navbar-tutorial-image"
        alt="hello"
      />
      <div class="code-section">
        <pre>
              <code class="language-html">
                <xmp>
            <Button class="ui-button facebook-button radius-r"><i class="fab fa-facebook-f"></i> Facebook</Button>
            <Button class="ui-button twitter-button radius-r"><i class="fab fa-twitter"></i> Twitter</Button>
            <Button class="ui-button youtube-button radius-r"><i class="fab fa-youtube"></i> Youtube</Button>
            <Button class="ui-button insta-button radius-r"><i class="fab fa-instagram"></i> Instagram</Nutton>
                </xmp>
              </code>
        </pre>
      </div>
    </div>

    <div class="prev">
      <form action="/navbar">
      <button class="pointer" > Prev </button>
    </form>
    </div>

  <div class="next">
    <form action="/tables">
    <button class="pointer" > Next </button>
  </form>
  </div>

  </div>
</div>
