<link rel="stylesheet" href="css/Footers/main.css" />

<%- include('index.ejs') %>

<div class="work-area">
  <div class="my-space">
    <h1> Footers </h1>
    <br />

    <div class="simple-footer">
      <div class="bg-black white">
        The sample text goes here. This is the dummy text of the footer
      </div>
    </div>

    <div class="simple-footer">
      <div class="bg-blue white">
        The sample text goes here. This is the dummy text of the footer
      </div>
    </div>

    <div class="simple-footer">
      <div class="bg-grey white">
        The sample text goes here. This is the dummy text of the footer
      </div>
    </div>

    <%- include('footer1.ejs') %>
    <%- include('footer2.ejs') %>
  </div>
</div>
