<%- include('index.ejs') %>

<link rel="stylesheet" href="css/Forms/main.css" />

<div class="work-area">
  <div class="my-space">
    <h1>Forms</h1>
    <br />
    <p>
      This form has the default HTML form behavior of browsing to a new page
      when the user submits the form. usually form is used to collect data from
      the user and send data to the users. form is defined by using
      <b class="red"> form </b> tag.
    </p>
    <br />
    <h2> How To Import Forms </h2>
    <br />
    <p> Add the below code to your top of the Javascript file.</p>
    <br />
    <div class="code-section">
      <code class="language-html">
        <xmp>
          import Form from "react-style-ui/style-ui/forms";
        </xmp>
      </code>
    </div>
    <br />
    <h2> Example Usage Of Forms </h2>
    <br />
    <div class="code-section">
      <pre>
      <code class="language-html">
      <xmp>
        import Form from "react-style-ui/style-ui/forms";
        import Button from "react-style-ui/style-ui/Button";

        function App() {
          return (
            <div>
              <Form>
                <form>
                  <div className="form-group1">
                    <div class="form-name"> Sign Up </div>
                    <lable class="form-name1"> Username </lable>
                    <input type="text" placeholder="username" class="form-input1" />
                    <lable class="form-name1"> Email </lable>
                    <input type="email" class="form-input1" placeholder="Email" />
                    <lable class="form-name1"> Password </lable>
                    <input
                      type="password"
                      className="form-input1"
                      placeholder="password"
                    />
                    <Button class="ui-button green-basic-button radius-r">
                      Sign Up
                    </Button>
                  </div>
                </form>
              </Form>
            </div>
          );
        }

        export default App;
      </xmp>
      </code>
      </pre>
    </div>
    <br />
    <h2>Sign Up Form 1</h2>
    <br />
    <div class="image-box">
      <form>
        <div class="form-group1">
          <div class="form-name">Sign Up</div>
          <lable class="form-name1"> Username </lable>
          <input type="text" placeholder="username" class="form-input1" />
          <lable class="form-name1"> Email </lable>
          <input type="email" class="form-input1" placeholder="Email" />
          <lable class="form-name1"> Password </lable>
          <input type="password" class="form-input1" placeholder="password" />
          <Button class="ui-button green-basic-button radius-r">Sign Up</Button>
        </div>
      </form>
      <div class="code-section">
        <pre>
        <code class="language-html">
        <xmp>
        <form>
            <div className="form-group1">
                <div class="form-name"> Sign Up </div>
                <lable class="form-name1"> Username </lable>
                <input type="text" placeholder="username" class="form-input1" />
                <lable class="form-name1"> Email </lable>
                <input type="email" class="form-input1" placeholder="Email" />
                <lable class="form-name1"> Password </lable>
                <input
                type="password"
                className="form-input1"
                placeholder="password"
                />
                <Button class="ui-button green-basic-button radius-r">Sign Up</Button>
            </div>
        </form>
        </xmp>
        </code>
        </pre>
      </div>
    </div>
    <br />

    <h2>Sign Up Form 2</h2>
    <br />
    <div class="image-box">
      <form>
        <div class="form-group2">
          <div class="bg-color">
            <div class="bar-left"></div>
            <div class="bar-right"></div>
            <div class="form-name">Register</div>
            <div class="form-item">
              <div class="form-item-row">
                <input
                  type="text"
                  placeholder="First Name"
                  class="form-input2"
                />
                <input
                  type="text"
                  placeholder="Last Name"
                  class="form-input2"
                />
              </div>
              <input type="email" placeholder="Email" class="form-input3" />
              <input
                type="password"
                placeholder="Password"
                class="form-input3"
              />
              <input
                type="password"
                placeholder="Confirm Password"
                class="form-input3"
              />
              <Button class="ui-button green-basic-button radius-r full-width">
                Sign Up
              </Button>
            </div>
          </div>
        </div>
      </form>
      <div class="code-section">
        <pre>
        <code class="language-html">
        <xmp>
        <form>
            <div className="form-group2">
                <div className="bg-color">
                <div className="bar-left" />
                <div className="bar-right" />
                <div className="form-name"> Register </div>
                <div className="form-item">
                    <div className="form-item-row">
                    <input
                        type="text"
                        placeholder="First Name"
                        className="form-input2"
                    />
                    <input
                        type="text"
                        placeholder="Last Name"
                        className="form-input2"
                    />
                    </div>
                    <input type="email" placeholder="Email" className="form-input3" />
                    <input
                    type="password"
                    placeholder="Password"
                    className="form-input3"
                    />
                    <input
                    type="password"
                    placeholder="Confirm Password"
                    className="form-input3"
                    />
                    <Button class="ui-button green-basic-button radius-r full-width">
                    Sign Up
                    </Button>
                </div>
                </div>
            </div>
            </form>
        </xmp>
        </code>
        </pre>
      </div>
    </div>
    <br />
    <p>form elements such as <b class="red"> input </b>, <b class="red"> textarea </b>, and <b class="red"> lable </b> typically maintain their 
        own state and update it based on user input. In React, mutable state is typically
         kept in the state property of components, and only updated with <b class="red"> setState() </b></p>
         <div class="code-section">
            <pre>
                <code class="language-html">
                <xmp>
                    const disable_state = "form-toggle-button";
                    const active_state = "form-toggle-button active";
                    const signup_active = "signup_section";
                    const signup_disable = "signup_section_disable";
                    const signin_active = "signin_section";
                    const signin_diable = "signin_section_disable";

                    const [signup_form_active, set_signup_form_actve] = useState(disable_state); // for button toggle
                    const [signin_form_active, set_signin_form_active] = useState(active_state); // for button toggle
                    const [display_signup, set_display_signup] = useState(signup_active); // for signup block
                    const [display_signin, set_display_signin] = useState(signin_active); // for signin block

                    const signup = (event) => {
                    event.preventDefault();
                    if (signin_form_active == disable_state) {
                        set_signup_form_actve(disable_state);
                        set_signin_form_active(active_state);
                        set_display_signup(signup_disable);
                        set_display_signin(signin_active);
                    } else {
                        set_signin_form_active(disable_state);
                        set_signup_form_actve(active_state);
                        set_display_signup(signup_active);
                        set_display_signin(signin_diable);
                    }
                    };
                </xmp>
                </code>
            </pre>
        </div>
        <h2> Sign Up Form 3 </h2>
        <br />

        <div class="image-box">
            <form>
                <div class="form-group3">
                  <h2> Sign Up </h2>
                  <h4> Please enter the below information </h4>
                  <hr noshade="noshade" />
                  <div class="form-item-row">
                    <input
                      type="text"
                      placeholder="First Name"
                      class="form-input2"
                    />
                    <input
                      type="text"
                      placeholder="Last Name"
                      class="form-input2"
                    />
                  </div>
                  <input type="email" placeholder="Email" class="form-input3" />
                  <input
                    type="password"
                    placeholder="Password"
                    class="form-input3"
                  />
                  <input
                    type="password"
                    placeholder="Confirm Password"
                    class="form-input3"
                  />
                  <p class="center">
                    <input type="checkbox" /> I accept the <a href="#"> Terms </a> and <a href="#"> Privacy Policy </a>
                  </p>
                  <Button class="ui-button blue-basic-button"> Sign Up </Button>
                </div>
              </form>
            <div class="code-section">
              <pre>
              <code class="language-html">
              <xmp>
            <form>
                <div className="form-group3">
                    <h2> Sign Up </h2>
                    <h4> Please enter the below information </h4>
                    <hr noshade="noshade" />
                    <div className="form-item-row">
                    <input
                        type="text"
                        placeholder="First Name"
                        className="form-input2"
                    />
                    <input
                        type="text"
                        placeholder="Last Name"
                        className="form-input2"
                    />
                    </div>
                    <input type="email" placeholder="Email" className="form-input3" />
                    <input
                    type="password"
                    placeholder="Password"
                    className="form-input3"
                    />
                    <input
                    type="password"
                    placeholder="Confirm Password"
                    className="form-input3"
                    />
                    <p className="center">
                    <input type="checkbox" /> I accept the <a href="#"> Terms </a> and
                    <a href="#"> Privacy Policy </a>
                    </p>
                    <Button class="ui-button blue-basic-button"> Sign Up </Button>
                </div>
            </form>
              </xmp>
              </code>
              </pre>
            </div>
          </div>
          <br />
          <h2>SignUp & SignIn Form</h2>
            <div class="code-section">
              <pre>
              <code class="language-html">
              <xmp>
                <div className="form-group3">
                  <div className="form-item-row">
                    <a href="#" className={signup_form_active} onClick={signup}>
                      Sign Up
                    </a>
                    <a href="#" className={signin_form_active} onClick={signup}>
                      sign in
                    </a>
                  </div>
                  <div className={display_signup}>
                    <input type="text" placeholder="Username" className="form-input3" />
                    <input type="email" placeholder="Email Id" className="form-input3" />
                    <input
                      type="password"
                      placeholder="Password"
                      className="form-input3"
                    />
                    <h4>
                      <a href="#" style={{ color: "red" }}>
                        Forgot password ?
                      </a>
                    </h4>
                    <p className="center">
                      <input type="checkbox" /> I accept the <a href="#"> Terms </a> and
                      <a href="#"> Privacy Policy </a>
                    </p>
                    <Button class="ui-button green-basic-button full-width">
                      Sign Up
                    </Button>
                  </div>
                  <div className={display_signin}>
                    <input type="text" placeholder="Username" className="form-input3" />
                    <input
                      type="password"
                      placeholder="Password"
                      className="form-input3"
                    />
                    <h4>
                      <a href="#" style={{ color: "red" }}>
                        Forgot password ?
                      </a>
                    </h4>
                    <Button class="ui-button blue-basic-button full-width">
                      Sign In
                    </Button>
                  </div>
                </div>
              </div>
              </xmp>
              </code>
              </pre>
            </div>

            <div class="prev">
              <form action="/alert">
              <button class="pointer" > Prev </button>
            </form>
            </div>
  
          <div class="next">
            <form action="/scrollbar">
            <button class="pointer" > Next </button>
          </form>
          </div>
  </div>
</div>
