<%- include('index.ejs') %>

<div class="work-area">
  <div class="my-space">
    <h1>Introduction</h1>
    <br />
    <p>
      <b> Style-Ui </b> is front end framework for react. It contain lot of
      build in libraries.
    </p>
    <br />
    <h1>Installation</h1>
    <br />
    <p>
      The best ways to download, and use Style-Ui is via npm packages. you can
      install it either <b class="red"> npm </b> or <b class="red"> yarn </b>
    </p>
    <br />
    <div class="code-section">
      <code class="language-html">
        <xmp>
            npm install react-style-ui
        </xmp>
      </code>
    </div>
    <br />
    <p>
      Above command installs all neccessary file into your local machine.
      before installing <b class="red"> style-ui </b> you should create the project
      using <b class="red"> npx create-react-app</b>
    </p>
    <br />
    <h2>Importing Components</h2>
    <br />
    <p>
      After installing, you need to import the file from the style-ui. The
      importing individual components like
      <b class="red"> import react-style-ui/style-ui/Buttons</b> Rather then
      importing whole library importing single component is better practice
    </p>
    <br />
    <div class="code-section">
      <code class="language-html">
        <xmp>
            import Alert from "react-style-ui/style-ui/Button";
        </xmp>
      </code>
    </div>
    <h3> Example Usage </h3><br />
    <p> primarily need to import the libraries like above import statement. Then use the componenet like below code. </p>
    <br />
    <div class="code-section">
        <code class="language-html">
          <xmp>
            <Button class="ui-button red-basic-button"> Red Button </Button>
          </xmp>
        </code>
      </div>
      <br />
      <p> Let us start learning how to use each and every component in your project. </p>


    <div class="next">
      <form action="/alert">
      <button class="pointer" > Next </button>
    </form>
    </div>
  </div>
</div>
