<%- include('index.ejs') %>

<link rel="stylesheet" href="/css/Hover/main.css" />

<div class="work-area">
  <div class="my-space">
    <h2>Hover Effects</h2>
    <br />
    Hover Effect is useful for display something when the mouse is over to some text or image. 
    <br />
    <p>
      8 different colored hover effect exist in style-ui. Those are listed below
    </p>
    <br />
    <h2>How to import Hover </h2> 
    <br />
    <div class="code-section">
      <code class="language-html">
        <xmp>
          import Hover from "react-style-ui/style-ui/Hover";
        </xmp>
      </code>
    </div>
    <br />
    <h2> Example Usage Of Hover </h2>
    <br />
    <div class="code-section">
      <pre>
          <code class="language-html">
            <xmp>
              import Hover from "react-style-ui/style-ui/Hover";

              function App() {
                return (
                  <div>
                    <Hover>
                      <div ClassName="row cf">
                        <div ClassName="slide-in four col">
                          <div ClassName="box">
                            <span ClassName="original">
                              <h1>Hover!</h1>
                              <p>Hover Green</p>
                            </span>
                            <div ClassName="overlay bg-green">
                              <i ClassName="fa fa-user fa-3x" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </Hover>
                  </div>
                );
              }

              export default App;

            </xmp>
          </code>
        </pre>
    </div>
    <h2>Colors</h2>
    <li>Red<b>bg-red</b></li>
    <li>SkyBlue<b>bg-skyblue</b></li>
    <li>Grey<b>bg-grey</b></li>
    <li>Green<b>bg-green</b></li>
    <li>Pink<b>bg-pink</b></li>
    <li>Orange<b>bg-orange</b></li>
    <li>Purple<b>bg-purple</b></li>
    <li>SeaGreen<b>bg-seagreen</b></li>
    <br />
    <div class="row cf">
      <div class="slide-in four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Hover Green</p>
          </span>
          <div class="overlay bg-green">
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="slide-in four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Hower Skyblue</p>
          </span>
          <div class="overlay bg-skyblue">
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="slide-in four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Hover Red</p>
          </span>
          <div class="overlay bg-red">
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="code-section">
      <pre>
            <code class="language-html">
            <xmp>
              <Hover>
                <div ClassName="row cf">
                    <div ClassName="slide-in four col">
                      <div ClassName="box">
                        <span ClassName="original">
                          <h1>Hover!</h1>
                          <p>Hover Green</p>
                        </span>
                        <div ClassName="overlay bg-green">
                          <i ClassName="fa fa-user fa-3x" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div ClassName="slide-in four col">
                      <div ClassName="box">
                        <span ClassName="original">
                          <h1>Hover!</h1>
                          <p>Hower Skyblue</p>
                        </span>
                        <div ClassName="overlay bg-skyblue">
                          <i ClassName="fa fa-user fa-3x" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div ClassName="slide-in four col">
                      <div ClassName="box">
                        <span ClassName="original">
                          <h1>Hover!</h1>
                          <p>Hover Red</p>
                        </span>
                        <div ClassName="overlay bg-red">
                          <i ClassName="fa fa-user fa-3x" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </Hover>
            </xmp>
            </code>
            </pre>
    </div>
    <h2>How to change the color</h2>
    <br />
    <p>
      add the above class name where you want to add hover effect. possible for
      images, text, font icons, or any other iframes.
    </p>
    <br />

    <h2>Types of Hovers</h2>
    <br />
    9 different types hover effect are exist. those are listed below
    <br />
    <li>Slide In From Left</li>
    <li>Slide Up</li>
    <li>Slide Down With Icon Dlay</li>
    <li>Rotate Into View</li>
    <li>Slide In From Right and Scale</li>
    <li>Fade In and Flip</li>
    <li>Fade In and Skew</li>
    <li>Slide In from bottom corner</li>
    <li>Slide In from top corner</li>

    <div class="row cf">
      <div class="slide-in four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Slide in from left</p>
          </span>
          <div class="overlay bg-skyblue">
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="slide-up four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Slide up</p>
          </span>
          <div class="overlay bg-red">
            <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="slide-down-delay four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Slide down with icon delay</p>
          </span>
          <div class="overlay bg-green">
            <i class="fa fa-users fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row cf">
      <div class="rotate four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Rotate into view</p>
          </span>
          <div class="overlay bg-purple">
            <i class="fa fa-star fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="scale four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Slide in from right and scale</p>
          </span>
          <div class="overlay bg-pink">
            <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="flip four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Fade in then flip</p>
          </span>
          <div class="overlay bg-orange">
            <i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="row cf">
      <div class="skew four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Fade in and skew</p>
          </span>
          <div class="overlay bg-seagreen">
            <i class="fa fa-rocket fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="corner-bottom four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Slide in from bottom corner</p>
          </span>
          <div class="overlay bg-orange">
            <i class="fa fa-coffee fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="corner-top four col">
        <div class="box">
          <span class="original">
            <h1>Hover!</h1>
            <p>Slide in from top corner</p>
          </span>
          <div class="overlay bg-red">
            <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="code-section">
      <pre>
            <code class="language-html">
            <xmp>
              <Hover>
                <div ClassName="row cf">
                  <div ClassName="slide-in four col">
                    <div ClassName="box">
                      <span ClassName="original">
                        <h1>Hover!</h1>
                        <p>Slide in from left</p>
                      </span>
                      <div ClassName="overlay bg-skyblue">
                        <i ClassName="fa fa-user fa-3x" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>

                  <div ClassName="slide-up four col">
                    <div ClassName="box">
                      <span ClassName="original">
                        <h1>Hover!</h1>
                        <p>Slide up</p>
                      </span>
                      <div ClassName="overlay bg-red">
                        <i ClassName="fa fa-cogs fa-3x" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>

                  <div ClassName="slide-down-delay four col">
                    <div ClassName="box">
                      <span ClassName="original">
                        <h1>Hover!</h1>
                        <p>Slide down with icon delay</p>
                      </span>
                      <div ClassName="overlay bg-green">
                        <i ClassName="fa fa-users fa-3x" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div ClassName="row cf">
                  <div ClassName="rotate four col">
                    <div ClassName="box">
                      <span ClassName="original">
                        <h1>Hover!</h1>
                        <p>Rotate into view</p>
                      </span>
                      <div ClassName="overlay bg-purple">
                        <i ClassName="fa fa-star fa-3x" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>

                  <div ClassName="scale four col">
                    <div ClassName="box">
                      <span ClassName="original">
                        <h1>Hover!</h1>
                        <p>Slide in from right and scale</p>
                      </span>
                      <div ClassName="overlay bg-pink">
                        <i ClassName="fa fa-trophy fa-3x" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>

                  <div ClassName="flip four col">
                    <div ClassName="box">
                      <span ClassName="original">
                        <h1>Hover!</h1>
                        <p>Fade in then flip</p>
                      </span>
                      <div ClassName="overlay bg-orange">
                        <i ClassName="fa fa-thumbs-up fa-3x" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div ClassName="row cf">
                  <div ClassName="skew four col">
                    <div ClassName="box">
                      <span ClassName="original">
                        <h1>Hover!</h1>
                        <p>Fade in and skew</p>
                      </span>
                      <div ClassName="overlay bg-seagreen">
                        <i ClassName="fa fa-rocket fa-3x" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>

                  <div ClassName="corner-bottom four col">
                    <div ClassName="box">
                      <span ClassName="original">
                        <h1>Hover!</h1>
                        <p>Slide in from bottom corner</p>
                      </span>
                      <div ClassName="overlay bg-orange">
                        <i ClassName="fa fa-coffee fa-3x" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>

                  <div ClassName="corner-top four col">
                    <div ClassName="box">
                      <span ClassName="original">
                        <h1>Hover!</h1>
                        <p>Slide in from top corner</p>
                      </span>
                      <div ClassName="overlay bg-red">
                        <i ClassName="fa fa-calendar fa-3x" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
                </Hover>
            </xmp>
            </code>
            </pre>
    </div>

    <div class="prev">
      <form action="/footer">
      <button class="pointer" > Prev </button>
    </form>
    </div>

  </div>
</div>
