<%- include('index.ejs') %>

<div class="work-area">
  <div class="my-space">
    <h2>Sidebar</h2>
    <p> Sorry documantation not found </p>

    <div class="prev">
      <form action="/tables">
      <button class="pointer" > Prev </button>
    </form>
    </div>

  <div class="next">
    <form action="/footer">
    <button class="pointer" > Next </button>
  </form>
  </div>

  </div>
</div>
