<%- include('index.ejs') %>

<link rel="stylesheet" href="css/Spinner/main.css" />

<div class="work-area">
  <div class="my-space">
    <h1>Spinners</h1>
    <br />
    <p>
      Spinners are visual indicators that the app is loading. Use it while
      loading content or performing another process that the user needs to wait
      on.
    </p>
    <br />
    <h2>Spinners Size</h2>

    <div class="spin">
      <div class="red">
        <div class="spinner-1">
          <svg
            class="smm"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="8" cy="8" r="7" stroke-width="2" />
          </svg>
        </div>
      </div>
      <div class="red">
        <div class="spinner-1">
          <svg
            class="sm"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="8" cy="8" r="7" stroke-width="2" />
          </svg>
        </div>
      </div>
      <div class="red">
        <div class="spinner-1">
          <svg
            class="md"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="8" cy="8" r="7" stroke-width="2" />
          </svg>
        </div>
      </div>
      <div class="red">
        <div class="spinner-1">
          <svg
            class="mdd"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="8" cy="8" r="7" stroke-width="2" />
          </svg>
        </div>
      </div>
      <div class="red">
        <div class="spinner-1">
          <svg
            class="lg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="8" cy="8" r="7" stroke-width="2" />
          </svg>
        </div>
      </div>
      <div class="red">
        <div class="spinner-1">
          <svg
            class="lgg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="8" cy="8" r="7" stroke-width="2" />
          </svg>
        </div>
      </div>
    </div>

    <div class="code-section">
        <pre>
        <code class="language-html">
        <xmp>
            <Spinner color="red" size="smm" />
            <Spinner color="red" size="sm" />
            <Spinner color="red" size="md" />
            <Spinner color="red" size="mdd" />
            <Spinner color="red" size="lg" />
            <Spinner color="red" size="lgg" />
        </xmp>
        </code>
        </pre>
      </div>

      <p> Spinners are the loading indiacters, we can define them by using above code. we made 5 different size. 
          you can use accoding to you need. The <b> Size </b> property is used to adjust the size. </p>
          <br />
          <h3> How To Change The Width and Height </h3> <br />
          change the <b> Size </b> property to 
          <li><b>smm :</b> width: 10% height: 10%</li>
          <li><b>sm :</b> width: 20% height: 20%</li>
          <li><b>md :</b> width: 40% height: 40%</li>
          <li><b>mdd :</b> width: 60% height: 60%</li>
          <li><b>lg :</b> width: 80% height: 80%</li>
          <li><b>lgg :</b> width: 100% height: 100%</li>
          <br />

          <h2> Spinner Colors </h2>
          <div class="spin">
            <div class="black">
              <div class="spinner-1">
                <svg
                  class="md"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="8" cy="8" r="7" stroke-width="2" />
                </svg>
              </div>
            </div>
            <div class="blue">
                <div class="spinner-1">
                  <svg
                    class="md"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="8" cy="8" r="7" stroke-width="2" />
                  </svg>
                </div>
              </div>

              <div class="red">
                <div class="spinner-1">
                  <svg
                    class="md"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="8" cy="8" r="7" stroke-width="2" />
                  </svg>
                </div>
              </div>

              <div class="orange">
                <div class="spinner-1">
                  <svg
                    class="md"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="8" cy="8" r="7" stroke-width="2" />
                  </svg>
                </div>
              </div>
        </div>
        <div class="code-section">
            <pre>
            <code class="language-html">
            <xmp>
                <Spinner color="black" size="md" />
                <Spinner color="blue" size="md" />
                <Spinner color="red" size="md" />
                <Spinner color="orange" size="md" />
            </xmp>
            </code>
            </pre>
          </div>
          <div class="spin">
            <div class="green">
              <div class="spinner-1">
                <svg
                  class="md"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="8" cy="8" r="7" stroke-width="2" />
                </svg>
              </div>
            </div>
            <div class="pink">
                <div class="spinner-1">
                <svg
                    class="md"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx="8" cy="8" r="7" stroke-width="2" />
                </svg>
                </div>
            </div>
            <div class="purple">
                <div class="spinner-1">
                <svg
                    class="md"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx="8" cy="8" r="7" stroke-width="2" />
                </svg>
                </div>
            </div>
            <div class="grey">
                <div class="spinner-1">
                <svg
                    class="md"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx="8" cy="8" r="7" stroke-width="2" />
                </svg>
                </div>
            </div>
        </div>
        <div class="code-section">
            <pre>
            <code class="language-html">
            <xmp>
                <Spinner color="green" size="md" />
                <Spinner color="pink" size="md" />
                <Spinner color="purple" size="md" />
                <Spinner color="grey" size="md" />
            </xmp>
            </code>
            </pre>
          </div>
          <p> 8 different color spinners avaialble for you use. you can call them by using the above code. </p> 
          <br /><h3> How to change the color </h3>
          <br />
          you can set the color by updating the below color property 
          <li><b class="red">black</b></li>
          <li><b class="red">red</b></li>
          <li><b class="red">oranged</b></li>
          <li><b class="red">blue</b></li>
          <li><b class="red">green</b></li>
          <li><b class="red">pink</b></li>
          <li><b class="red">purple</b></li>
          <li><b class="red">grey</b></li>
  </div>
</div>
