<%- include('index.ejs') %>
<div class="work-area">
  <div class="my-space">
    <h2>Tables</h2>
    <br />
    <p> Tables are useful for displaying the information is a systamatic way or table format.</p>
    <br />
    <h2> How to import Tables </h2>
    <br />
    <div class="code-section">
      <code class="language-html">
        <xmp>
          import Tables from "react-style-ui/style-ui/Tables";
        </xmp>
      </code>
    </div>
    <br />
    <h2> Example usage of Tables </h2>
    <br />
    <div class="code-section">
      <pre>
          <code class="language-html">
            <xmp>
              import Tables from "react-style-ui/style-ui/Tables";

              function App() {
                return (
                  <div>
                    <Tables>
                      <table className="table-view border">
                        <thead>
                          <tr className="center">
                            <th className="background-red color-white"> F_Name </th>
                            <th className="background-red color-white"> L_Name </th>
                            <th className="background-red color-white"> Age </th>
                            <th className="background-red color-white"> Address </th>
                            <th className="background-red color-white"> Salary </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr className="center">
                            <td> Darshan </td>
                            <td> Hegde </td>
                            <td> 24 </td>
                            <td> Sirsi </td>
                            <td> 1,00,000 </td>
                          </tr>
                        </tbody>
                      </table>
                    </Tables>
                  </div>
                );
              }

              export default App;

            </xmp>
          </code>
        </pre>
    </div>
    <div class="image-box">
      <img
        src="/images/Tables/styleui-table1.png"
        class="navbar-tutorial-image"
        alt="hello"
      />

      <div class="code-section">
        <pre>
          <code class="language-html">
            <xmp>
            <table className="table-view border">
                <thead>
                    <tr className="center">
                    <th className="background-red color-white"> F_Name </th>
                    <th className="background-red color-white"> L_Name </th>
                    <th className="background-red color-white"> Age </th>
                    <th className="background-red color-white"> Address </th>
                    <th className="background-red color-white"> Salary </th>
                    </tr>
                </thead>
                <tbody>
                    <tr className="center">
                    <td> Darshan </td>
                    <td> Hegde </td>
                    <td> 24 </td>
                    <td> Sirsi </td>
                    <td> 1,00,000 </td>
                    </tr>
                </tbody>
            </table>
            </xmp>
          </code>
        </pre>
      </div>
    </div>
    <br />
    <p>
      table-view repesents table view, next border represents border. There are
      3 types of border class, those are <b class="red"> border </b>
      <b class="red"> border-none </b> and <b class="red"> border-normal </b>
      <br>
      <p> <b class="red">background-red</b> represents the header color. 
          there are 4 different header color exists. 
          <b class="red"> color-white </b> class represents header text color. </p>
          <br>
          <h3> Header Colors </h3><br>
          <li> Red : <b class="red">background-red</b></li>
          <li> Green : <b class="red">background-green</b></li>
          <li> Blue : <b class="red">background-blue</b></li>
          <li> Orange : <b class="red">background-orange</b></li></p>
          <br>
          <div class="image-box">
            <img
              src="/images/Tables/styleui-table2.png"
              class="navbar-tutorial-image"
              alt="hello"
            />
      
            <div class="code-section">
              <pre>
                <code class="language-html">
                  <xmp>
                <table className="table-view">
                    <thead>
                        <tr>
                        <th className="background-green color-white"> F_Name </th>
                        <th className="background-green color-white"> L_Name </th>
                        <th className="background-green color-white"> Age </th>
                        <th className="background-green color-white"> Address </th>
                        <th className="background-green color-white"> Salary </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr className="hover-grey">
                        <td> Darshan </td>
                        <td> Hegde </td>
                        <td> 24 </td>
                        <td> Sirsi </td>
                        <td> 1,00,000 </td>
                        </tr>
                        <tr className="hover-orange">
                        <td> Darshan </td>
                        <td> Hegde </td>
                        <td> 24 </td>
                        <td> Sirsi </td>
                        <td> 1,00,000 </td>
                        </tr>
                        <tr className="hover-blue">
                        <td> Darshan </td>
                        <td> Hegde </td>
                        <td> 24 </td>
                        <td> Sirsi </td>
                        <td> 1,00,000 </td>
                        </tr>
                    </tbody>
                    </table>
                  </xmp>
                </code>
              </pre>
            </div>
          </div>
          <br />
          <div class="image-box">
            <img
              src="/images/Tables/styleui-table3.png"
              class="navbar-tutorial-image"
              alt="hello"
            />
      
            <div class="code-section">
              <pre>
                <code class="language-html">
                  <xmp>
                <table className="table-view">
                    <thead>
                        <tr>
                        <th className="background-green color-white"> F_Name </th>
                        <th className="background-green color-white"> L_Name </th>
                        <th className="background-green color-white"> Age </th>
                        <th className="background-green color-white"> Address </th>
                        <th className="background-green color-white"> Salary </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr className="hover-grey">
                        <td> Darshan </td>
                        <td> Hegde </td>
                        <td> 24 </td>
                        <td> Sirsi </td>
                        <td> 1,00,000 </td>
                        </tr>
                        <tr className="hover-orange">
                        <td> Darshan </td>
                        <td> Hegde </td>
                        <td> 24 </td>
                        <td> Sirsi </td>
                        <td> 1,00,000 </td>
                        </tr>
                        <tr className="hover-blue">
                        <td> Darshan </td>
                        <td> Hegde </td>
                        <td> 24 </td>
                        <td> Sirsi </td>
                        <td> 1,00,000 </td>
                        </tr>
                    </tbody>
                    </table>
                  </xmp>
                </code>
              </pre>
            </div>
          </div>
          <br />
          <P> 6 Different Hover color class exists. those are</P> <br>
          <li> Grey : <b class="red"> hover-grey </b></li>
          <li> Red : <b class="red"> hover-red </b></li>
          <li> Coral : <b class="red"> hover-coral </b></li>
          <li> Purple : <b class="red"> hover-darkochid </b></li>
          <li> Orange : <b class="red"> hover-orange </b></li>
          <li> Blue : <b class="red"> hover-blue </b></li>

          <div class="prev">
            <form action="/button">
            <button class="pointer" > Prev </button>
          </form>
          </div>
    
        <div class="next">
          <form action="/sidebar">
          <button class="pointer" > Next </button>
        </form>
        </div>
  </div>
</div>
